[submodule "vimfiles/bundle/vim-pathogen"]
	path = vimfiles/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vimfiles/bundle/ctrlp.vim"]
	path = vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/snipmate.vim"]
	path = vimfiles/bundle/snipmate.vim
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vimfiles/bundle/vim-airline-themes"]
	path = vimfiles/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vimfiles/bundle/vim-dispatch"]
	path = vimfiles/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vimfiles/bundle/vim-elixir"]
	path = vimfiles/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vimfiles/bundle/vim-go"]
	path = vimfiles/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "vimfiles/bundle/vim-javascript"]
	path = vimfiles/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vimfiles/bundle/vim-json"]
	path = vimfiles/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vimfiles/bundle/vim-markdown"]
	path = vimfiles/bundle/vim-markdown
	url = https://github.com/hallison/vim-markdown
[submodule "vimfiles/bundle/vim-msbuild"]
	path = vimfiles/bundle/vim-msbuild
	url = https://github.com/FilipDeVos/vim-msbuild.git
[submodule "vimfiles/bundle/vim-ps1"]
	path = vimfiles/bundle/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule "vimfiles/bundle/sqlserver.vim"]
	path = vimfiles/bundle/sqlserver.vim
	url = https://github.com/vim-scripts/sqlserver.vim.git
[submodule "vimfiles/bundle/puppet-syntax-vim"]
	path = vimfiles/bundle/puppet-syntax-vim
	url = https://github.com/puppetlabs/puppet-syntax-vim.git
[submodule "vimfiles/bundle/vim-editorconfig"]
	path = vimfiles/bundle/vim-editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vimfiles/bundle/vim-editorconfigcore"]
	path = vimfiles/bundle/vim-editorconfigcore
	url = https://github.com/FilipDeVos/vim-editorconfigcore-windows.git
[submodule "vimfiles/bundle/vim-gitgutter"]
	path = vimfiles/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vimfiles/bundle/vim-fugitive"]
	path = vimfiles/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
